body {
    background-color: dodgerblue;
    margin: 0;
  }
  
  .incbtn, .expbtn{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
  
  header {
    background-color: white;
    padding: 40px;
  }
  
  nav {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 15px;
    top: 0;
  }
  
  span {
    display: flex;
  }
  
  nav a {
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  #img:hover {
    transform: translateY(-3px);
  }
  
  .column {
    float: left;
    width: fit-content;
    margin-left: 40px;
    height: 88vh;
    overflow-y: hidden;
  }

  .column:last-of-type {
    padding-left: 35px;
  }
  
  .cat {
    border: 2px solid limegreen;
    width: fit-content;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: white;
  }
  
  .cat:first-of-type {
    border: 2px solid red;
  }
  
  .cat img {
    padding: 17px;
  }
  
  .cat img:hover {
    opacity: 0.6;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 3px solid darkviolet;
    border-radius: 15px;
    margin: 250px auto;
    width: 300px;
  }
  
  h2 {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    margin: 20px;
  }

  label {
    font-weight: bold;
    font-size: 17px;
  }
  
  button {
    font-weight: bold;
  }
  
  .button {
    padding: 10px 20px;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 15px;
    background: linear-gradient(45deg, cornflowerblue , cyan );
    border-radius: 15px;
  }
  
  .button:hover {
    background: linear-gradient(45deg, cyan , cornflowerblue );
  }
 
  td {
    padding: 10px 20px;
    background-color: white;
    text-align: center;
  }